<!-- Footer -->
<section id="footer" class="bg-primary">
  <div class="container">
    <div class="row text-center text-xs-center mt-3 text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>RSLSolution App Provider</h5>
        <p class="text-white">You may not have heard of RSL yet, but there is a very strong chance you have heard all about our clients. Our custom coded Mobile solutions include everything from complete platform systems to modular feature upgrades and solution consulting for the business. We don't sell applications, we create applications that customers need.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <h5 class="text-center">Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li class="nav-item Active">
            <a [routerLink]="['/']" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/about']" routerLinkActive="active" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/getin']" routerLinkActive="active" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/blog']" routerLinkActive="active" class="nav-link">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-white text-center">
        <h5>Contact With Us</h5>
        <p>+91 7887 787 1415</p>
        <p>info@rslsolution.com</p>
        <a [routerLink]="['/getin']" routerLinkActive="active" class="nav-link"><button class="btn btn-block bg-warning text-white border-info" style="border-radius: 20px;">Contact</button></a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    
    </div>   -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center text-white">
        <hr>
        <p class="h6">Copyright @ 2020 RSL<a class="text-green ml-2" href="https://www.rslsolution.com" target="_blank">Solution</a></p>
        <p>Designed by and Devloped by RSL</p>
      </div>
      
    </div>  
  </div>
</section>
<!-- ./Footer -->